.whiteA{
	
	color:#e2e2e2;
}
#wrap{
	/* zoom: 1.6;
	-webkit-zoom: 1.6;;
	-moz-zoom: 1.6;; */
	/* width: calc(80vw);
	min-width: 1000px; */
}
.rank-item:last-child{
	margin-bottom: 0;
}
.rank-item{
	position: relative;
	width: 100%;
	margin-bottom: 6px;

	/* background: #1df54d; */
	/* margin-bottom:2px; */
	/* min-width: 795px; */
	 height:66.88px; 
}
.rankView {
	
}
.rankView #rank{
	/* height: 507px; */
}
.rank-item .viewBox{
		 width: 150vw;
		 height: 495px;
		position: absolute;
		top: 1px;
		left:-50vw;
		z-index: 2;
		right:-0vw;
		height:56px;
		border-top: rgb(56, 109, 70) 3px solid;
		border-bottom: rgb(117,244,150) 3px solid;
		filter: blur(2px);
		background:  linear-gradient(100deg,rgba(38,92,42,.8) 20%,#333 50%,rgba(38,92,42,.8) 100%);
	}
	.bgg{

		 opacity: .88;
		 filter: blur(1px);
	}

    .yellowBar  img{
        height:100%;
    }
	.ball{
		/* position: absolute;
		z-index: 222;
		top:0; */
		height: 100%;
		
		
		
	}
    .ball img{
		
        height: 100%;
        width: auto;
    }
	.flip-card{
		position: relative;
		/* background: url(/assets/itemBg.png) no-repeat; */
		background-size:100% ;
		-webkit-background-size:100% ;
		-moz-background-size:100% ;
		-o-background-size:100% ;
		height: 66.66px;
		width: 100%;
		overflow: initial;
		/* background-color: rgba(33,33,33,.77); */
		
    }
	.indx{
		position: relative;
		width:35px;
		margin-right:15px;
		font-family: 'dinb';
		font-weight: 700;
		font-size: 28.54px;
		text-align: center;
		overflow: initial;
	}
	.indx img{
		height:66px;
		width:auto;
		
		margin-top: -6px;
	}
	.indx1 img{
		
		margin-top: -5px;
	}
	.indx2 img{
		
		height:50px;
	}
	.indx1{
		margin-right:0;

	}
	.indx2{
		margin-right:0;
	}
	.indx3{
		margin-right:0;
	}
	.indx10{
		width:42px;
		margin-right:13px;
	}
	.ths{
		position: absolute;
		right:0;
		top:0;
		font-family: 'dinb';
		font-weight: 700;
		font-size: 14.21px !important;
	}
	.posCenter{
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
	}
	.box-left{
		position: relative;
	
		/* margin-right:10px ; */
	}
	.box-left img{
		/* width: 124px;
		height:auto ;
		position: absolute;
		top:0;
		left:0; */
	}
        .flip-card	>div{
			height:100%;
			
		}
   .flip-card	*{
			/* font-weight: 500; */
			font-size: 21px;
		}
		.box-right{
			
			/* background: #2c3348; */
			
			/* background: linear-gradient(180deg,#070706 20%,#030303 100%); */
		}
   .flip-card-front{
			/* padding:8px; */
			font-size: 35px;
			color:#ffffff;
			/* background: #556988; */
			/* border-top-left-radius: 60%;
			border-top-left-radius: 60%; */
			width: 142.38px;
			text-align: center;
			/* background: rgba(122,122,122,1); */
		}
		
		.flip-card-back{
            flex: 1;
			position: relative;
			overflow: hidden;
        }
		.flip-card-back 	.ball{
				/* padding-left: 110px; */
				/* text-align: center; */
				
			}
			.flip-card-back .name img{
				position: absolute;
				top:0;
				left: -50%;
				width: 319px;
				height: auto;
				transform: translateX(50%);
			}
            .flip-card-back 	.name{
				/* margin-left: 140px; */
				width:255px;
				text-shadow: 0px 0px 5px #e2e2e2;
                flex: 1;
				text-align: center;
				font-size: 22px;
				color:#e2e2e2;
			}
            .flip-card-back 	.time{
				font-size: 40px;

				/* padding: 0 10px; */
				color:#000000;
				font-weight: 700;
				font-family: 'dinb';
				width: 192.63px;
				letter-spacing: 2px;
				white-space: nowrap;
				text-shadow: 0px 0px 5px #e2e2e2;
				/* flex: 1; */
			}
		

            
            .rankView .rankItem{
				width: 578.64px;
				/* padding-right:6px; */
			} 
			.topView{
				animation: rotateX 800ms linear ;
				animation-delay: 2s;
                /* filter: blur(0.5px); */
				margin-bottom:30px;
				width: 100%;
				position:relative;
				/* left:5px; */
			}
			.qh{
				color:#fff;
				font-weight: 700;
				font-family: 'dinb';
				font-size: 56px;
				letter-spacing: 1px;
				line-height: 1;
				/* text-shadow: 0px 0px 4px #e2e2e2;	 */
				
			}
			.qh span{
				color: #1DF54D;
				font-weight: 700;
				font-family: 'dinb';
				font-size: 60px;
			}
			.fonImg{
                height: 36px;
                /* width:60%; */
				padding-right: 8px;
                /* animation: rotateZ 800ms linear ; */
              }
              .rankView .fon2Img{
                height: 114px;
				padding: 0  10px;
			

                /* width: 464px; */
				background: linear-gradient(180deg,rgba(33, 41, 32,.88) 20%, rgba(26, 33, 41,.88) 100%);
			
              }
              .rankView .view-right{
				opacity: 0.9;

				width: 420px;
				height: 732px;
			
				background: rgb(42, 48, 66);
				padding:0 40px;
				margin-left: 32px;
				border-radius: 48px;
				overflow: hidden;
				/* height: 100%; */
				/* background: linear-gradient(180deg,#090909 20%,#030303 100%); */
                animation-delay: 1s;
              }
			  .view-right{
			
				 animation: rotateY 780ms linear ;
                animation-delay: 2s !important;
			  }
			  .logo img{
				height:80px;
				animation: rotateY2 2s linear ;
				animation-delay: 1s !important;
			  }
              .rankView .view-right .pathBox{
                /* animation: rotateY 780ms linear ;
                animation-delay: 2s !important; */
              }
              .rankView .pathImg{
                height: auto;
                width: calc(100%);
				
				margin-bottom: 40px; 
              }

			  .coutBox .txt {
				font-size: 36px;
				
				margin: 35px auto 33px auto;
				font-style: italic;
				color: #626F86;
				 font-weight: 700; 
				 font-family: 'dinb' !important;
			  }
			  .coutBox .txt2{
				font-size: 58px;
			
			  }
			  #cDoutown {
				color:#5dd880;
				/* font-size: 85px; */
				flex:1;
				margin-top:26px ;
				position: relative;
				text-align: center;
				
			  }
			  #coutDown .weihu{
				color: #c7daec;
				font-size: 68px;
				padding-bottom: 10px;
			  }
			  #clock{
				position: absolute;
				left: calc(50% );
				color:#e2e2e2;
				font-size: 59px;
				font-weight: 700;
				line-height: 68.38px;
				font-family: 'din';
				letter-spacing: 1px;
				/* padding-top: 4px; */
				transform: translateX(-50%);
				/* text-shadow: 0px 0px 5px #e2e2e2; */
				white-space: nowrap;
				/* background: url(/assets/next.png) no-repeat; */
			  }
			  #clock span{
				color: #1DF54D;
				font-weight: 700;
				line-height: 68.38px;
				font-family: 'dinb';
				line-height: 68.38px;
				font-size: 56px;
				/* padding-left: 10; */
			}
			  #next{
				height: 77.44px;
				width: auto;
			  }
			 
			  .rtxt{
				/* width: 50%; */
				text-align: left !important;
				float: left;
				
				
			
				padding-bottom: 15px;
				/* padding-left: 45px; */
				padding-bottom: 25px;
				letter-spacing: 1px;
				
			  }
			  .pathBox >div:nth-child(2){
				 margin-top: 0px !important; 
			  }
			  .rtxt2,.rtxt4{

				width: 112px;
			  }

			  .rtxt1,.rtxt3{
				
				width: 160px;
			  }
			  .rtxt >div{
				text-align: left;
			  }
			  .rtxt >div:first-child{
				line-height: 36px;
				padding:6px 0;
			
				font-size: 36px;
				font-weight: 700;
				color: rgb(98, 111, 134);
				font-family: 'din';
			  }
			  .rtxt>div[class*=rtxt]{
				text-align: left;
				color:white;
				font-size: 40px;
				font-weight: 700;
				font-family: 'dinb';
				font-style: italic;
				/* text-shadow: 0px 0px 5px #e2e2e2; */
			  }
			  
			  